body {
    display: flex;
    justify-content: center;
}

.App {
    text-align: center;
    margin-top: 25px;
}

.tab-content {
    border: 2px solid black;
    padding: 2rem;
    width: 300px;
}

.tab-button {
    margin-right: 2px;
}

.active {
    background-color: #333;
    color: white;
}
